.pagination{
  display: block;
  margin: 0;
  padding: 15px 0 15px 0;
  .prev,.next{
    float:left;
    font-size:24px;
    margin-right: 46px;
    margin-top: 10px;

    a{
      color:$color-black2;
      text-decoration: none;
      font-family:'GothicI';
      &:hover{
        color:$color-grey;
      }
    }
  }
  .prev{
    margin-left: 170px;
  }
  .next{
    margin-left: 18px;
  }
  .page{
    font-family:'GothicI';
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 9px 0 0 21px;
    color:$color-black2;
    font-size:24px;
    transition: 0.15s ease-in;
  }
  .page:hover,.page.active{
    background: #e6e3e3;
  }
  .pages{
    a{
      float:left;
      margin-right: 24px;
    }
  }
}