<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frontend Devil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">

</head>
<body>

<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="">Обо мне</a></li>
                <li><a href="">Проекты</a></li>
                <li><a href="">Блог</a></li>
            </ul>
        </nav>
        <div class="lang-switch">
            <a href="" class="active">ru</a> | <a href="">en</a>
        </div>
    </div>
</header>

