<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Денис Еганов</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">

</head>
<body>

<header>
    <div class="container">
        <div class="navigation">
            <nav>
                <ul>
                    <li><a href="http://localhost:9000">Главная</a></li>
                    <li><a href="http://localhost:9000/about.html">Обо мне</a></li>
                    <li><a href="http://localhost:9000/projects.html">Проекты</a></li>
                    <li><a href="http://localhost:9000/blog.html">Блог</a></li>
                </ul>
            </nav>
        </div>

        <div class="lang-switch">
            <a href="" class="active">ru</a> | <a href="">en</a>
        </div>
    </div>
</header>

