.about-man{
  background:$color-bg1;
  padding: 80px 0 92px 0;
  .box-info{
    background:$color-white;
    border: 1px solid $color-grey2;
    padding:22px 25px 22px 22px;
    float:left;
    img{
      float:left;
      margin-right:22px;
    }
    .citation{
      text-align: right;
    }
    .line-red{
      margin-left: 383px;
    }
    .about{
      font-size:16px;
      margin-top: 42px;
      line-height: 30px;
    }
    h2{
      margin-top: 58px;
      color:$h2-black-color;
    }
  }
}