html {
  font-family: 'Gothic';
}
body{
  overflow-x: hidden;
}
h1,h2,h3,h4,p,li,a,input,textarea,button {
  font-family: 'Gothic';
  transition: 0.15s ease-in;
}
h2{
  font-size:24px;
  text-transform: uppercase;
  font-family: 'GothicB';
}
h3{
  font-size:24px;
  font-family: 'GothicB';
}
h4{
  font-size:16px;
  font-family: 'GothicB';
}

li{list-style: none;}

a:hover{
  text-decoration: none;
}

a.link{
  color:$color-link;
  &:hover{
    //color:$color-link-hover;
    text-decoration: underline;
  }
}

.container{
  width: 978px;
  padding:0;
}

.line-red{
  width: 36px;
  height: 5px;
  background:$color-red;
  margin-top:21px;
}
.white-line{
  width: 64px;
  height: 3px;
  background: $color-white;
  margin-left: 170px;
  margin-top: 22px;
}
.citation{
  font-size: 15px;
  font-style:italic;
  .author{
    font-style: normal;
  }
}

.about-man{
  background:$color-bg1;
  padding: 80px 0 92px 0;
  .box-info{
    background:$color-white;
    border: 1px solid $color-grey2;
    padding:22px 25px 22px 22px;
    float:left;
    img{
      float:left;
      margin-right:22px;
    }
    .citation{
      text-align: right;
    }
    .line-red{
      margin-left: 383px;
    }
    .about{
      font-size:16px;
      margin-top: 42px;
      line-height: 30px;
    }
    h2{
      margin-top: 58px;
      color:$h2-black-color;
    }
  }
}

.table{
  margin-top: 74px;
  table{
    border-collapse: collapse;
    th,td{
      text-align: center;
      border: 1px solid #b3b3b3;
      font-family:'Gothic';
      font-size:20px;
      height: 56px;
      width: 246px;
    }
    th{
      background:#4d4d4d;
      color:$color-white;
      font-family:'GothicB';
    }
    td{
      background:#d6d4d4;
    }
  }
}