.navigation{
  nav{
    margin-top: 98px;
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      text-transform: uppercase;
      float: left;
      margin-left: 53px;
      &:first-child{
        margin-left: 0;
      }
      a{
        transition: 0.15s ease-in;
        color: $color-white;
        &:hover{
          color:$color-grey;
        }
      }
    }
  }
}

.bg-head{
  width:1920px;
  margin-right: auto;
  margin-left: auto;
}

.lang-switch{
  float:right;
  text-transform: uppercase;
  color:$color-grey;
  a{
    transition: 0.15s ease-in;
    color: $color-grey;
    &:hover{
      color: $color-white;
    }
    &.active{
      color: $color-white;
    }
  }
}

header{
  position:absolute;
  z-index: 4;
  width:100%;
}

.logo.main{
  top: 188px;
  a{
    float:left;
    img{
      padding:0;
      margin-right: 10px;
    }
  }
  p.name-man{
    margin-top: 0;
    font-size:42px;
  }
  p.info-man{
    margin-top: 10px;
  }
  .white-line{
    width: 50px;
    margin-top: 0;
    margin-left: 134px;
  }
}
